.div-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

/* Input type data selection */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tab-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: lightgray;
    transition: background-color 0.3s ease;
}

.tab-button.active {
    font-weight: bold;
    border-bottom: 2px solid black;
}